*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}
body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background:#f2f2f2;
    position: relative;
    font-family: 'Silkscreen', sans-serif;
}
.logo-container {
    position: absolute;
    top: 10px;
    left: 50px;
    padding: 10px;
  }
  .card-title {
    font-family: 'Silkscreen', sans-serif;
  }
  
  .card-text {
    font-family: 'Silkscreen', sans-serif;
    color: rgb(255, 148, 105);

  }
  
  .btn {
    font-family: 'Silkscreen', sans-serif;
  }
  
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

body::before{
    content: '';
    position: absolute;
    width: 100%;
    background: linear-gradient(to right,#e94057, #f27127);
    clip-path: inset(47 0 0 0);
    z-index: -1;
    height:100%;
}
::selection {
    background: #ff6760;
    color:#fff;
    }
    
    .container{
        max-width: 950px;
        width: 100%;
        overflow:hidden;
        padding: 80px 0;
    }

.container .main-card{
    display:flex;
    justify-content: space-evenly;
    width: 200%;
    transition: 5s;
    
}
#two:checked ~ .main-card{
    margin-left: -100%;
}
.container .main-card .cards{
    width: calc(100% / 2 - 10px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: space-between;
   
}
.main-card .cards .card:hover{
    transform: translateY(-15px);
    
}

.main-card .cards .card{
    width:calc(100% / 3 - 10px);
    background: white;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0 25);
    transition: all 1s ease;
    
}
.cards .card .content .img{
    height: 100%;
    width:100%;
    border: 3px solid #ffff;
    border-radius: 50%;
    object-fit: cover;  
    
}
.card .content .job{
    font-size: 20px;
    color: #ff676D;
    
}
.card .content .media-icons{
    margin-top: 10px;
    display: flex;
  
}

.media-icons a{
    text-align: center;
    line-height: 33px;
    height: 35px;
    width: 35px;
    margin: 0 4px ;
    font-size: 14px;
    color: #fff;
    border-radius: 50%;
    border: 2px solid transparent;
    background: #ff676D;
    transition:all 0.5 ease;
   
}
.media-icons a :hover{
    color: #ff676f;
    background-color: white;
    background-color: #ff676d;
    
}
.container .button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin:20px;
}
.button label{
    height:15px;
    width: 15px;
    border-radius: 20px;
   background: white;
   margin: 0 4px;
   cursor: pointer;
   transition: all 0.7s ease;
    
}

.button label.active{
    width:35px;
    
}
#one:checked ~ .button .one{
    width:35px;
}
#two:checked ~ .button .one{
    width: 15px;
}

#two:checked ~ .button .two{
    width:35px
 }
  input[type="radio"]{
      display: none;
     
  }
    .card {
      border: none;
      border-radius: 15px;
      overflow: hidden;
      margin: 10px;
      color: white;
      box-shadow: 0 4px 8px rgba(5, 8, 5, 8.1);
      
    }
    @import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
    .card img {
      border-radius: 50%;
      width: 100%;
      height: auto;
    }

    .card-body {
      text-align: center;
      color: black;
    }

    .carousel-inner {
      display: flex;
      flex-direction: row;
    }

    @media (max-width: 768px) {
      .carousel-inner {
        flex-direction: column;
      }
    }
    @media (max-width:768px){
        .main-card .cards .card{
            margin: 20px 0 10px 0;
            width: calc(100% / 2 -10px);
            }
        }
         @media (max-width:600px){
        .main-card .cards .card{
            
            width:100%;
    }
    }